@font-face{
    font-family: 'Exo2';
    src: local('Exo2'),
    url('../assets/fonts/Exo2.ttf'),
    format('truetype');
}

:root {
    --default-color: #ececec;
    /* Step -2: 9.48px → 10.00px */
    --fine-size: clamp(0.50rem, calc(0.58rem + 0.03vw), 0.63rem);

    /* Step -1: 10.67px → 14.14px */
    --sub-size: clamp(0.67rem, calc(0.61rem + 0.23vw), 0.88rem);

    /* Step 0: 12.00px → 20.00px */
    --body-size: clamp(0.7rem, calc(0.61rem + 0.53vw), 1.25rem);

    /* Step 1: 13.50px → 28.28px */
    --h5-size: clamp(0.84rem, calc(0.59rem + 0.99vw), 1.77rem);

    /* Step 2: 15.19px → 39.99px */
    --h4-size: clamp(0.95rem, calc(0.52rem + 1.65vw), 2.50rem);

    /* Step 3: 17.09px → 56.54px */
    --h3-size: clamp(1.07rem, calc(0.38rem + 2.63vw), 3.53rem);

    /* Step 4: 19.22px → 79.95px */
    --h2-size: clamp(1.20rem, calc(0.14rem + 4.05vw), 5.00rem);

    /* Step 5: 21.62px → 113.05px */
    --h1-size: clamp(1.35rem, calc(-0.25rem + 6.10vw), 7.07rem);
}
h1{
    font-size: var(--h1-size);
    color:var(--default-color);
    font-family: 'Exo2', sans-serif;
}

h2{
    font-size: var(--h2-size);
    color:var(--default-color);
    font-family: 'Exo2', sans-serif;
}

h3{
    font-size: var(--h3-size);
    color:var(--default-color);
    font-family: 'Exo2', sans-serif;
}

h4{
    font-size: var(--h4-size);
    color:var(--default-color);
    font-family: 'Exo2', sans-serif;
}

h5{
    font-size: var(--h5-size);
    color:var(--default-color);
    font-family: 'Exo2', sans-serif;
}

body{
    font-size: var(--body-size);
    color:var(--default-color);
    line-height: 1.5;
}

p{
    font-size: var(--body-size);
    color:var(--default-color);
    line-height: 1.5;
}